
tr{
  font-size: larger;
}

.highlighted-row {
  cursor: pointer;
  background-color: rgb(174, 160, 160); /* Change to your desired highlight color */
  color: #ff123f;
  /* font-weight: bold;
  font-size: larger; */
 
}
