tr {
  font-size: larger;
}

/* .highlighted-row {
  cursor: pointer;
  background-color: #c0c0c0;
  color: #ff123f;
} */

tr:hover{
  cursor: pointer;
  background-color: #c0c0c0;
  color: #ff123f;
}